<h4 class="border border-dark bg-info p-2">
  Role Detail
</h4>

<form novalidate (ngSubmit)="onSubmit()" #form="ngForm">

  <div class="form-group">
    <mat-form-field>
      <label>{{'aap.common.uniquename' | translate}}:</label>
      <input matInput type="text" class="form-control" name="name" [(ngModel)]="entity.name" required />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Rolegroup:</mat-label>
      <mat-select name="rolegroupId" [(ngModel)]="entity.rolegroupId" required>
        <mat-option *ngFor="let rolegroup of rolegroupList" [value]="rolegroup.id">
          {{rolegroup.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!isValid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>

</form>

