<aaap-module-header [title]="'aap.module.user.list'"></aaap-module-header>

<table>
  <tr style="width: 100%;">
    <td style="width: 50%;">
      <button class="btn btn-primary btn-sm" [routerLink]="['/user/detail/0']">{{'aap.module.menu.add' | translate}}</button>
    </td>
    <td style="text-align: right;">
    </td>
  </tr>
</table>

<aaap-list-formbuilder [entityList]="entities" [template]="formMetadata" [actionCallback]="onActionButtonClicked.bind(this)"[setting]="myMatTableSetting"></aaap-list-formbuilder>

<!--<table class="table table-striped">
    <tbody>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Person ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        <tr *ngFor="let ent of entities">
            <td><input type="checkbox" class="form-control-sm" style="width: 5em;" [(ngModel)]="ent._selected"></td>
            <td>{{ent?.id}}</td>-->
<!--<td>{{ent?.personId}}</td>
<td>{{ent?.person?.firstName}}</td>
<td>{{ent?.person?.lastName}}</td>-->
<!--<td>
                <button class="btn btn-primary btn-sm" [routerLink]="['./detail', ent.id]">Edit</button>
                <button class="btn btn-sm btn-danger ml-1" (click)="delete(ent.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>-->
