<h4 class="border border-dark bg-info p-2">
  {{'aap.module.user.detail' | translate}}
</h4>

<aaap-detail-formbuilder [entity]="entity" [template]="formMetadata" [actionCallback]="onActionButtonClicked.bind(this)"></aaap-detail-formbuilder>

<!--<form novalidate (ngSubmit)="onSubmit()" #form="ngForm">
  <aaap-detail-formbuilder [entity]="entity" [template]="formMetadata"></aaap-detail-formbuilder>
  <button type="submit" class="btn btn-success" [disabled]="!isValid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
</form>-->

<!--<form #form="ngForm" [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let ctl of myFormTemplate">
    <div [ngSwitch]="ctl.control">

      <div *ngSwitchCase="'text'">
        <mat-form-field>
          <mat-label>{{ctl.label}}</mat-label>
          <input matInput [type]="ctl.control" class="form-control" formControlName="{{ctl.ngModel}}" />
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'select'">
        <mat-form-field>
          <mat-label>{{ctl.label}}</mat-label>
          <mat-select formControlName="{{ctl.ngModel}}">
            <mat-option *ngFor="let opt of ctl.options" [value]="opt.id">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="myFormGroup.invalid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
</form>-->
<!--<form novalidate (ngSubmit)="onSubmit()" #form="ngForm">

  <div *ngFor="let ctl of formMetadata">

    <ng-template [ngIf]="ctl.controlType === 'text'">
      <mat-form-field>
        <mat-label>{{ctl.label}}</mat-label>
        <input matInput [type]="ctl.controlType" class="form-control" [name]="ctl.ngModel" [(ngModel)]="ctl.value" maxlength="40" required />
      </mat-form-field>
    </ng-template>

    <ng-template [ngIf]="ctl.controlType === 'select'">
      <mat-form-field>
        <mat-label>{{ctl.label}}</mat-label>
        <mat-select [name]="ctl.ngModel" [(ngModel)]="ctl.value">
          <mat-option *ngFor="let opt of ctl.options" [value]="opt.id">
            {{opt.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

  </div>

  <button type="submit" class="btn btn-success" [disabled]="!isValid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>

</form>-->
<!--<form novalidate (ngSubmit)="onSubmit()" #form="ngForm">

    <div class="form-group">
      <mat-form-field>
        <label>Login Name:</label>
        <input matInput type="text" class="form-control" name="loginName" [(ngModel)]="entity.loginName" maxlength="40" required />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label>Password:</label>
        <input matInput type="text" class="form-control" name="passwordMD5" [(ngModel)]="entity.passwordMD5" minlength="4" maxlength="20" required />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Roles:</mat-label>
        <mat-select name="roleId" [(ngModel)]="entity.roleId" multiple required>
          <mat-option *ngFor="let role of roleList" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!isValid">Save</button>
    <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>

</form> -->
