<div class="content">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <!--<span *ngIf="userIsLoggedIn">
          <li class="active"><a [routerLink]="" (click)="navigateToRoot()">{{'aaap.module.mainmenu.title' | translate}}</a></li>
        </span>-->
      </ul>
      <div class="navbar-header">
        <a class="navbar-brand" href="">{{appName}}</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <span *ngIf="userIsLoggedIn">
          <li class="active"><a href="" (click)="logout()">Logout {{loginName}}</a></li>
        </span>
      </ul>
    </div>
  </nav>

  <!--<span *ngIf="userIsLoggedIn">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index" [class.active]="i===breadcrumbList.length-1">
          <a [routerLink]="" (click)="navigateTo(item.id)" *ngIf="i!==breadcrumbList.length-1">
            {{item.name | translate}}
          </a>
          <span *ngIf="i===breadcrumbList.length-1">{{item.name | translate}}</span>
        </li>
      </ol>
    </div>
  </span>-->

  <div *ngIf="userIsLoggedIn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index" [class.active]="i===breadcrumbList.length-1">
          <a [routerLink]="['mainmenu']" (click)="navigateTo(item.id)" *ngIf="i!==breadcrumbList.length-1">
            {{item.name | translate}}
          </a>
          <span *ngIf="i===breadcrumbList.length-1">{{item.name | translate}}</span>
        </li>
      </ol>
  </div>

  <router-outlet></router-outlet>
</div>

