<!--<form novalidate (ngSubmit)="onActionButtonClicked('submit')" #form="ngForm">

<link rel="import" href="myHtml.html" />

<ng-template #myTemplate>
  <h1>MyTemplate</h1>
  <link rel="import" href="myHtml.html" />
</ng-template>

<ng-container *ngTemplateOutlet="myTemplate"></ng-container>

-->

<form novalidate #myForm="ngForm">

  <div *ngFor="let ctl of myFormTemplate">

    <span ctl="{{createControlEvent(ctl)}}"></span>

    <ng-template [ngIf]="ctl.suppressInDetail !== true">

      <div [ngSwitch]="ctl.control">

        <div *ngSwitchCase="'text'">
          <mat-form-field>
            <mat-label>{{ctl.label | translate}}:</mat-label>
            <input matInput [type]="ctl.control" class="form-control" [name]="ctl.ngModel"
                   [(ngModel)]="ctl.value"
                   (ngModelChange)="modelChangedEvent(ctl.ngModel, $event)"
                   [required]="ctl.required"
                   maxlength="{{ctl.maxLength}}" />
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'number'">
          <mat-form-field>
            <mat-label>{{ctl.label | translate}}:</mat-label>
            <input matInput [type]="ctl.control" class="form-control" [name]="ctl.ngModel"
                   [(ngModel)]="ctl.value"
                   (ngModelChange)="modelChangedEvent(ctl.ngModel, $event)"
                   [required]="ctl.required" />
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'select'">
          <mat-form-field style="width: 100%;">
            <mat-label>{{ctl.label | translate}}:</mat-label>
            <mat-select [name]="ctl.ngModel" [(ngModel)]="ctl.value" (selectionChange)="modelChangedEvent(ctl.ngModel, $event.value)" [required]="ctl.required">
              <mat-option *ngFor="let opt of ctl.options | async" [value]="opt.id">
                {{opt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'selectx'">
          <mat-form-field style="width: 100%;">
            <mat-label>{{ctl.label | translate}}:</mat-label>
            <mat-select [name]="ctl.ngModel" [(ngModel)]="ctl.value" (selectionChange)="modelChangedEvent(ctl.ngModel, $event.value)" [required]="ctl.required" multiple>
              <mat-option *ngFor="let opt of ctl.options | async" [value]="opt.id">
                {{opt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--<div *ngSwitchCase="'addressselect'">
          <aaap-address-select [name]="addressId" [id]="addressId" [addressId]="ctl.value" (onModelChanged)="modelChangedEvent(ctl.ngModel, $event.value)"></aaap-address-select>
        </div>-->

        <div *ngSwitchCase="'searchselect'">
          <mat-label>{{ctl.label | translate}}:</mat-label>
          <aaap-search-select [name]="ctl.ngModel" [initialId]="ctl.value" [repository]="ctl.repository" (onModelChanged)="modelChangedEvent(ctl.ngModel, $event.value)"></aaap-search-select>
        </div>

      </div>

    </ng-template>

  </div>

  <button class="btn btn-success" [disabled]="!myForm.valid" (click)="actionButtonClickEvent('submit')">{{'aaap.button.save' | translate}}</button>
  <button class="btn btn-primary" (click)="actionButtonClickEvent('cancel')">{{'aaap.button.cancel' | translate}}</button>

</form>

<!--<form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let ctl of myFormTemplate">
    <div [ngSwitch]="ctl.control">

      <div *ngSwitchCase="'text'">
        <mat-form-field>
          <mat-label>{{ctl.label}}</mat-label>
          <input matInput [type]="ctl.control" class="form-control" formControlName="{{ctl.ngModel}}" />
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'select'">
        <mat-form-field>
          <mat-label>{{ctl.label}}</mat-label>
          <mat-select formControlName="{{ctl.ngModel}}">
            <mat-option *ngFor="let opt of ctl.options" [value]="opt.id">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="myFormGroup.invalid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
</form>-->
