<mat-form-field style="width: 100%;">
  <mat-label>{{'aaap.common.filter' | translate}}</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <div *ngFor="let ctl of myFormTemplate">
      <div [ngSwitch]="ctl.control">

        <div *ngSwitchCase="ctl.control === 'text' || ctl.control === 'email' || ctl.control === 'number' ? ctl.control : ''">
          <ng-container matColumnDef="{{ctl.ngModel}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ctl.label | translate}}</th>
            <!--<td mat-cell *matCellDef="let element">{{element[ctl.ngModel]}}</td>-->
            <td mat-cell *matCellDef="let element">{{getValue(element, ctl.ngModel)}}</td>

          </ng-container>
        </div>

        <!--<div *ngSwitchCase="'select'">
        <mat-form-field>
          <mat-label>{{ctl.label}}</mat-label>
          <mat-select [name]="ctl.ngModel" [(ngModel)]="ctl.value" (ngModelChange)="modelChanged(ctl.ngModel, $event)">
            <mat-option *ngFor="let opt of ctl.options" [value]="opt.id">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>-->

      </div>
    </div>

    <!--<ng-template [ngIf]="setting.actionButtonList">-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let btn of setting.actionButtonList; trackBy: trackByIndex">
          <button type="button" mat-button [color]="btn.color" (click)="onActionButtonClicked(btn.action, element.id)">{{btn.label | translate}}</button>
        </div>
      </td>
    </ng-container>
    <!--</ng-template>-->
    <!--<ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-button color="warn" (click)="onActionButtonClicked('delete', element.id)">{{'aaap.button.delete' | translate}}</button>
        <button type="button" mat-button color="primary" [routerLink]="['./detail', element.id]">{{'aaap.button.edit' | translate}}</button>
      </td>
    </ng-container>-->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <!--<tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>-->

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>
