<h4 class="border border-dark bg-info p-2">
  {{'aap.module.rolegroup.detail' | translate}}
</h4>

<aaap-detail-formbuilder [entity]="entity" [template]="formMetadata" [actionCallback]="onActionButtonClicked.bind(this)"></aaap-detail-formbuilder>

<!--<form novalidate (ngSubmit)="onSubmit()" #form="ngForm">
  <aaap-detail-formbuilder [entity]="entity" [template]="formMetadata"></aaap-detail-formbuilder>
  <button type="submit" class="btn btn-success" [disabled]="!isValid">Save</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
</form>-->
